name: Test and lint SDK

on:
  pull_request:
    paths:
      - '**/*'

jobs:
  lint-test-sdk:
    runs-on: macos-latest
    strategy:
      matrix:
        java-version: ['8', '11', '17'] # Define the Java versions to test against
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      
      - name: 'Set up GCP SDK'
        uses: 'google-github-actions/setup-gcloud@v0'
      
      - name: Run tests
        run: make test
